   * { margin: 0; padding: 0; box-sizing: border-box; }

    body {
      font-family: Arial, sans-serif;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(135deg, #667eea, #764ba2);
    }
    .glass-card h2{
        width: 320px;
      padding: 28px;
      border-radius: 20px;
background-color: rgba(255, 255, 255, 0.15);
   border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
      color: white;

    }
    .glass-card p{
        font-size:14px;
        opacity:0.36;
        line-height: 1.4;
        margin-bottom: 20px;;

    }
    .glass-btn{
        width: 100%;
      padding: 12px;
      border-radius: 10px;
      border: none;
      background: white;
      color: #4f46e5;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s;

    }
     .glass-btn:hover { background: #f3f4f6; }